body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


#index-banner {
    background-image: url("#{resource['imgs/home-bg.jpeg']}");
    background-position-x: center;
    background-position-y: 70%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.btn-large {
    margin: 5px;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}